body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F4F4FF;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  nav{
    background-color: white;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    
  }

  .link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: black;
    cursor: pointer;
  
  }
  p{
    margin: 0;
    margin-left: 15px;
    font-size: 12px;
    line-height: 19px;
    cursor: pointer;
  }

  .reqbutton{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: inline-block;
    color: black;
    padding: 5px 15px;
  }

  .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .content{
    padding: 40px;
  }

  .createButton{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    border:white;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: inline-block;
    padding: 5px 30px;
  }

  .introText{
    font-size: 20px;
    color: #4A4A4A;
    font-weight: 600;
  }

  .requestIntroText
  {
    font-size: 20px;
    color: #4A4A4A;
    font-weight: 600;
  }

  .reqForm
  {
    margin-top: 20px;
  }

  .leftInput{
    margin-right: 100px;
  }

  .detailsInput
  {
    width: 100%;
    background: #F3F3F3;
    border-radius: 4px;

  }
  .box{
    
    width: 600px;
    margin: 15px 0px 40px 0px;
    padding: 30px ;
    background: #FFFFFF;

  }

  .inputContainer
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  .openReqMessage
  {
    
    display: flex;
    align-items: center;
    justify-content:start;
    gap: 11px;
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

color: #000000;
  }

 .triangle{
  width: 15px;
height: 15px;
 }


  


  